.*
*.class
KanjiDrawingUtils/AverageKanji/
KanjiDrawingUtils/JLPT5.txt
KanjiDrawingUtils/KanjiFeatures.txt
KanjiDrawingUtils/KanjiSVGtrainingOther/
KanjiDrawingUtils/MNIST2/
KanjiDrawingUtils/MNIST3/
KanjiDrawingUtils/NewAverageKanji/
KanjiDrawingUtils/ScaledKanjiTest/
KanjiDrawingUtils/ScaledKanjiTrain/
KanjiDrawingUtils/Statistics.txt
KanjiDrawingUtils/bin/
KanjiDrawingUtils/competition_POT/
KanjiDrawingUtils/java_pid4498.i2sv2.index
KanjiDrawingUtils/kanjiSVGtest/
KanjiDrawingUtils/kanjiSVGtestOther/
KanjiDrawingUtils/kanjiSVGtraining/
KanjiDrawingUtils/out
KanjiDrawingUtils/out.jpg
KanjiDrawingUtils/output.txt
KanjiDrawingUtils/output2.txt
KanjiDrawingUtils/temp.svg
KanjiDrawingUtils/vectorSpace.txt